.raidplan-msg-success{
    background-color: #1E5F1E;
    padding: 40px;
}

.raidplan-msg-box {
    display: none;
    position: absolute;
    left: 0;
    top: 300px;
    width: 300px;
    z-index: 200;
    text-align: center;
}

#raidplan-overlay{
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
}

.layoutbody{
    background-image: url("../img/FFXIV/res/background/bg_lions_den_web_1872x970.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}


.eventaddform{
    width: 100%;
    height: 600px;
}

.eventaddform .eventaddtable{
    width: 100%;
}

.eventaddform .eventaddtable td{
    padding: 20px;
    vertical-align: top;
}

.eventaddform .eventaddtable td.left{
    width: 70%;
}

.eventaddform .eventaddtable td.right{
    width: 30%;
}

/**
Partyassembler
*/
#partyassembler{

    width: 550px;
}

#partyassembler .roleselection{

}

#partyassembler .invited{
    width: 300px;
}

#partyassembler .accepted{

}

#partyassembler .declined{

}

#partyassembler .roleselection .roleselect{
    width: 200px;
    height: 38px;
    margin-bottom: 5px;
}

#partyassembler .invited .empty{
    border-bottom: 1px solid #a3a3a3;
    border-right: 1px solid #a3a3a3;
    width: 300px;
    height: 38px;
    margin-bottom: 5px;
    z-index: 10;
}

#partyassembler .buttons .empty{
    border: 1px solid #444444;
    width: 38px;
    height: 38px;
    margin-bottom: 5px;
    z-index: 10;
}

#partyassembler .buttons .button{
    border: 1px solid #444444;
    width: 38px;
    height: 38px;
    margin-bottom: 5px;
    z-index: 10;
}

#partyassembler .buttons .button .delete{
    background: url("../img/FFXIV/res/signs/x_red_9x9.png");
    background-position: 13px 12px;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    z-index: 10;
}

#partyassembler .invited .empty-hover{
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    width: 300px;
    height: 38px;
    margin-bottom: 5px;
    z-index: 11;
}

#partyassembler .invited .player{
    width: 300px;
    height: 38px;
    margin-bottom: 5px;
    position: relative;
}

#partyassembler .invited .player .playername{
    margin-top: 6px;
    margin-left: 6px;
}

#partyassembler .invited .player .joblist{
    display:none;
    background: #323232;
}

#partyassembler .accepted .empty{
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    width: 200px;
    height: 38px;
    margin-bottom: 5px;
}

#partyassembler .declined .empty{
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    width: 200px;
    height: 38px;
    margin-bottom: 5px;
}

#playerlist{
    height: 600px;
}

#playerlist .player{
    width: 200px;
    float: left;
    margin-right: 10px;
}